{% extends 'base.html.twig' %}

{% block body %}
    <h2> Bienvenue sur votre profil {{ participant.pseudo }}</h2>

    {% if participant.photoProfil %}
        <img src="{{ asset('uploads/PhotoProfil/' ~ participant.photoProfil) }}" alt="Photo de profil" />
    {% endif %}

    <ul>
        <li>Prénom: {{ participant.prenom }}</li>
        <li>Nom: {{ participant.nom }}</li>
        <li>Téléphone: {{ participant.telephone }}</li>
        <li>Email: {{ participant.mail }}</li>
        <li>Campus: {{ participant.campus.nom }}</li>
    </ul>

    <button type="submit"><a href="{{ path('sortie_accueil') }}">Retour</a></button>



{% endblock %}

{% block title %}
Profil Utilisateur | {{ parent() }}
{% endblock %}

