{% extends 'base.html.twig' %}

{% block body %}

    <h2 class="text-center"> Bienvenue sur votre profil {{ participant.pseudo }}</h2>

    <div class="row">
        <div class="col-md-6">
            <p> 
                {% if participant.photoProfil is same as(null) %}
                    <img src="{{ asset('uploads/PhotoProfil/photoProfulDefault-655768f80bf61.webp') }}" alt="Photo de profil" />
                {% else %}
                    <img src="{{ asset('uploads/PhotoProfil/' ~ participant.photoProfil) }}" alt="Photo de profil" />
                {% endif %}
            </p>
        </div>
    <div class="col-md-6">
        <p>Prénom: {{ participant.prenom }}</p>
        <p>Nom: {{ participant.nom }}</p>
        <p>Téléphone: {{ participant.telephone }}</p>
        <p>Email: {{ participant.mail }}</p>
        <p>Campus: {{ participant.campus.nom }}</p>

    <button type="submit" class="btn btn-info"><a href="{{ path('sortie_accueil') }}">Retour</a></button>
    <button class="btn btn-warning"><a href="{{ path('participant_modifierprofil') }}">Modifier</a></button>

    </div>
  </div>

    



{% endblock %}

{% block title %}
Profil Utilisateur | {{ parent() }}
{% endblock %}

