{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<div class="accueil">
    <div id="presentationUser">
        <p>Date du jour : {{currentDate|date('j F Y')}}</p>
        <p>Participant : </p>
    </div>

    <div class="filtreSorties">
        <h4>Filtrer les sorties</h4>
        {{ form_start(filtreSortiesForm) }}
        {{ form_widget(filtreSortiesForm) }}
        <button>Rechercher</button>
        {{ form_end(filtreSortiesForm) }}

    </div>

    <table border="1" class="affichageSorties">
        <thead>
            <tr>
                <th>Nom de la sortie</th>
                <th>Date de la sortie</th>
                <th>Clôture des inscriptions</th>
                <th>Inscrits / places</th>
                <th>Etat</th>
                <th>Inscrit</th>
                <th>Organisateur</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for sortie in sorties %}
            {% if sortie.etat.libelle != "Archivée" %}
            <tr>
                <td>{{sortie.nom}}</td>
                <td>{{sortie.dateHeureDebut|date('j F Y, H:i')}}</td>
                <td>{{sortie.dateLimiteInscription|date('j F Y')}}</td>
                <td>{{sortie.participants|length}} / {{sortie.nbInscriptionsMax}}</td>
                <td>{{ sortie.etat.libelle }}</td>
                <td>
                    {% if app.user in sortie.participants %}  
                        x
                    {% endif %}
                </td>
                <td>
                    <a href="{{path('profil_autre_utilisateur', {'id': sortie.organisateur.id})}}">{{sortie.organisateur.prenom}} {{sortie.organisateur.nom|upper}}</a>
                </td>
                    
                <td>
                    <a href="{{path('sortie_detail', {'id': sortie.id})}}">Afficher</a>
                    {% if app.user not in sortie.participants %}
                        <a href="{{path('inscription_sortie', {'id': sortie.id})}}">S'inscrire</a>
                    {% endif %}
                    {% if app.user in sortie.participants %}
                        <a href="{{path('desistement_sortie', {'id': sortie.id})}}">Se désister</a>
                    {% endif %}
                    {% if app.user == sortie.organisateur and sortie.etat.libelle == 'Créée' %}
                        <a href="{{path('sortie_modifier', {'id': sortie.id})}}">Modifier</a>
                    {% endif %}
                    {% if app.user == sortie.organisateur and sortie.etat.libelle == 'Créée' %}
                        <a href="#">Publier</a>
                    {% endif %}
                    {% if app.user == sortie.organisateur and (sortie.etat.libelle == 'Ouverte' or sortie.etat.libelle == 'Clôturée') %}
                        <a href="{{path('sortie_annuler', {'id': sortie.id})}}">Annuler</a>
                    {% endif %}
                </td>
            </tr>
        </tbody>
        {% endif %}
{% endfor %}
    </table>

    <div class="crea_sortie_button">
        <a href="{{path('sortie_creer')}}"><button>Créer une nouvelle sortie</button></a>
    </div>
</div>

{% endblock %}
