{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

{% include 'nav/nav.html.twig' %}

    <div id="presentationUser">
        <p>Date du jour : {{currentDate|date('Y-m-d')}}</p>
        <p>Participant : {#prénom et nom de l'user connecté#}</p>
    </div>

    <div>
        <h4>Filtrer les sorties</h4>
        {{ form_start(filtreSortiesForm) }}
        {{ form_widget(filtreSortiesForm) }}
        <button>Rechercher</button>
        {{ form_end(filtreSortiesForm) }}

    </div>

    <table border="1">
        <thead>
            <tr>
                <th>Nom de la sortie</th>
                <th>Date de la sortie</th>
                <th>Clôture</th>
                <th>Inscrits / places</th>
                <th>Etat</th>
                <th>Inscrit</th>
                <th>Organisateur</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for sortie in sorties %}
            <tr>
                <td>{{sortie.nom}}</td>
                <td>{{sortie.dateHeureDebut|date('Y-m-d-h-i-s')}}</td>
                <td>{{sortie.dateLimiteInscription|date('Y-m-d-h-i-s')}}</td>
                <td>{{sortie.nbInscriptionsMax}}</td>
                <td></td>
                {#if user connecté est inscrit alors, écrire une croix#}
                <td>a</td>
                <td></td>
                <td>
                    <a href="{{path('sortie_detail', {'id': sortie.id})}}">Afficher</a>
                    <a href="{{path('inscription_sortie', {'id': sortie.id})}}">S'inscrire</a>
                    <a href="{{path('desistement_sortie', {'id': sortie.id})}}">Se désister</a>
                </td>
            </tr>
        </tbody>
{% endfor %}
    </table>

    <div class="crea_sortie_button">
        <a href="{{path('sortie_creer')}}">Créer une sortie</a>
    </div>

{% endblock %}
