{% extends 'base.html.twig' %}

{% block title %}{{sortie.nom}}{% endblock %}

{% block body %}

{% include 'nav/nav.html.twig' %}

    <div class="detailsSortie">
        <h2>Afficher une sortie</h2>
                <p>Nom de la sortie : {{sortie.nom}} </p>
                <p>Campus : {{sortie.siteOrganisateur.nom}} </p>
                <p>Date et heure de la sortie : {{sortie.dateHeureDebut|date('Y-m-d-h-i-s')}} </p>
                <p>Lieu : {{sortie.lieu.nom}} </p>
                <p>Date limite d'inscription : {{sortie.dateLimiteInscription|date('Y-m-d-h-i-s')}} </p>
                <p>Rue : {{sortie.lieu.rue}} </p>
                <p>Nombre de places : {{sortie.nbInscriptionsMax}} </p>
                <p>Code postal : {{sortie.lieu.ville.codePostal}} </p>
                <p>Durée : {{sortie.duree}} heures </p>
                <p>Latitude : {{sortie.lieu.latitude}} </p>
                <p>Description et infos : {{sortie.infosSortie}} </p>
                <p>Longitude : {{sortie.lieu.longitude}} </p>
                <button>S'inscrire</button>
    </div>

    <div>
        <h4>Liste des participants inscrits : </h4>
        
        {% for participant in sortie.participants %}
        <table border="1">
            <thead>
                <tr>
                    <th>Pseudo</th>
                    <th>Nom</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{participant.pseudo}}</td>
                    <td>{{participant.prenom}} {{participant.nom|upper}}</td>
                </tr>
            </tbody>
        </table>
        {% endfor %}
    </div>

            <li><a href="{{path('sortie_accueil')}}">Retour accueil</a></li>


{% endblock %}

