{% extends 'base.html.twig' %}

{% block title %}{{sortie.nom}}{% endblock %}

{% block body %}

    <div class="container mt-4">
        <h2 class="text-center">Détails de la sortie</h2>
  
        <div class="row">
            <div class="col-md-6">
                <p><strong>Nom de la sortie : </strong>{{sortie.nom}} </p>
            </div>
            <div class="col-md-6">
                <p><strong>Campus : </strong>{{sortie.siteOrganisateur.nom}} </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p><strong>Date et heure de la sortie : </strong>{{sortie.dateHeureDebut|date('j F Y, H:i')}} </p>
            </div>
            <div class="col-md-6">
                <p><strong>Lieu : </strong>{{sortie.lieu.nom}} </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p><strong>Date limite d'inscription : </strong>{{sortie.dateLimiteInscription|date('j F Y')}} </p>    
            </div>
            <div class="col-md-6">
                <p><strong>Rue : </strong>{{sortie.lieu.rue}} </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p><strong>Nombre de places : </strong>{{sortie.nbInscriptionsMax}} </p>
            </div>
            <div class="col-md-6">
                <p><strong>Code postal : </strong>{{sortie.lieu.ville.codePostal}} </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p><strong>Durée : </strong>{{sortie.duree}} heures </p>
            </div>
            <div class="col-md-6">
                <p><strong>Latitude : </strong>{{sortie.lieu.latitude}} </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p><strong>Description et infos : </strong>{{sortie.infosSortie}} </p>
            </div>
            <div class="col-md-6">
                <p><strong>Longitude : </strong>{{sortie.lieu.longitude}} </p>
            </div>
        </div>
        
        <a href="{{path('inscription_sortie', {'id': sortie.id})}}"><button class="btn btn-info">S'inscrire</button></a>

  

    <div>
        <h4 class="text-center">Liste des participants inscrits : </h4>
        
      
        <table class="table table-striped text-center">
            <thead class="thead-dark">
                <tr>
                    <th>Pseudo</th>
                    <th>Nom</th>
                </tr>
            </thead>
            <tbody>
              {% for participant in sortie.participants %}
                <tr>
                    <td>{{participant.pseudo}}</td>
                    <td><a href="{{path('profil_autre_utilisateur', {'id': participant.id})}}" >{{participant.prenom}} {{participant.nom|upper}}</a></td>
                </tr>
            </tbody>
             {% endfor %}
        </table>
    </div>



</div>

{% endblock %}

