{% extends 'base.html.twig' %}

{% block title %}{{sortie.nom}}{% endblock %}

{% block body %}


    <div class="detailsSortie">
        <h2>Afficher une sortie</h2>
                <p>Nom de la sortie : {{sortie.nom}} </p>
                <p>Campus : {{sortie.siteOrganisateur.nom}} </p>
                <p>Date et heure de la sortie : {{sortie.dateHeureDebut|date('j F Y, H:i')}} </p>
                <p>Lieu : {{sortie.lieu.nom}} </p>
                <p>Date limite d'inscription : {{sortie.dateLimiteInscription|date('j F Y')}} </p>
                <p>Rue : {{sortie.lieu.rue}} </p>
                <p>Nombre de places : {{sortie.nbInscriptionsMax}} </p>
                <p>Code postal : {{sortie.lieu.ville.codePostal}} </p>
                <p>Durée : {{sortie.duree}} heures </p>
                <p>Latitude : {{sortie.lieu.latitude}} </p>
                <p>Description et infos : {{sortie.infosSortie}} </p>
                <p>Longitude : {{sortie.lieu.longitude}} </p>
                <a href="{{path('inscription_sortie', {'id': sortie.id})}}"><button>S'inscrire</button></a>
    </div>

    <div>
        <h4>Liste des participants inscrits : </h4>
        
      
        <table border="1">
            <thead>
                <tr>
                    <th>Pseudo</th>
                    <th>Nom</th>
                </tr>
            </thead>
            <tbody>
              {% for participant in sortie.participants %}
                <tr>
                    <td>{{participant.pseudo}}</td>
                    <td><a href="{{path('profil_autre_utilisateur', {'id': participant.id})}}">{{participant.prenom}} {{participant.nom|upper}}</a></td>
                </tr>
            </tbody>
             {% endfor %}
        </table>
    </div>
{% endblock %}

