{% extends 'base.html.twig' %}

{% block title %}Modifier "{{ sortie.nom }}" | {{ parent() }}{% endblock %}

{% block body %}

    <div>
        {{ form_start(sortieForm) }}
        {{ form_widget(sortieForm) }}
        {{ form_end(sortieForm) }}
        <form method="post" action="{{ path('sortie_supprimer', {'id': sortie.id}) }}">
            <input type="hidden" name="_method" value="DELETE">
            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ sortie.id) }}">
            <button>Supprimer</button>
        </form>
        <a href="{{ path('sortie_accueil') }}">Annuler</a>

        <script src="{{ asset('js/sortiesTypeScript.js') }}" data-url='../../api/' defer></script>

    </div>


{% endblock %}