<header>
    <h1><a href="{{path('sortie_accueil')}}">Sortons !</h1><img src="{{ asset('img/pizza.png') }}" alt="Part de pizza"></a>

    <nav>
        <ul>
            {% if app.user %}
            <li><a href="#">Villes</a></li>
            <li><a href="#">Campus</a></li>
            <li><a href="{{path('sortie_accueil')}}">Accueil</a></li>
            <li><a href="{{path('participant_profil')}}">Mon profil</a></li>
            <li><a href="{{path('app_logout')}}">Se déconnecter</a></li>
            {% endif %}
       
        </ul>
    </nav>
</header>