<header>
    
   <nav class="navbar navbar-right">
        <div class="container-fluid">
            <div class="navbar-header">
                <h1><a href="{{path('sortie_accueil')}}" class="navbar-brand">Sortons !</a></h1>
            </div>
        <ul class="nav navbar-nav">
            {% if app.user %}
            <li class="active"><a href="#">Villes</a></li>
            <li class="active"><a href="#">Campus</a></li>
            <li class="active"><a href="{{path('sortie_accueil')}}">Accueil</a></li>
            <li class="active"><a href="{{path('participant_profil')}}">Mon profil</a></li>
            <li class="active"><a href="{{path('app_logout')}}">Se déconnecter</a></li>
            {% endif %}
       
        </ul>
        </div>
    </nav>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{{path('sortie_accueil')}}">Sortons !</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
    {% if app.user %}
      <li class="nav-item active">
        <a class="nav-link" href="#">Ville <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Campus</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{path('sortie_accueil')}}">Accueil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{path('participant_profil')}}">Mon profil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{path('app_logout')}}">Se déconnecter</a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>

</header>